<ion-view view-title="Life Call">
	<ion-nav-buttons side="left">
  
	</ion-nav-buttons>
	<ion-content ng-class="{expanded:$scope.isExpanded} no-margin no-padding" style="background: url(img/bg-106.jpg) center; background-size: cover;vertical-align: middle;">
		<div ng-if="loading" style="text-align:center; width: 80%;margin-left: 10%;margin-top: 10%">
			<img  src="img/map.png" align="center" width="50%"><BR/>
			<div class=" padding box-inset-shadow round-box" style="margin-left: 25%;width: 50%;background-color: #FFF;">
				<img src="img/barloader.gif">
			</div>
		</div>
		<div ng-if="emrequests" class="row no-margin no-padding" style="height:100%;">
			<div class="col col-50">
				<div id="map" data-tap-disabled="true"></div>
			</div>
			
			<div ng-if="!loading" class="col">
				<!-- Patient info -->
				<div class="row box-inset-shadow round-box" style="background: rgba(0,0,0,0.3)">
					<div class="col center-text" style="padding-top:1em;padding-left: 1em">
					    <div class="image-cropper">
						 <img  ng-if="emrequest.patient.photoFilePath != null" src='{{URL_PREFIX + emrequest.patient.photoFileURI}}'>
						<img  ng-if="emrequest.patient.photoFilePath == null" src="img/person.png">
						</div>
						<BR/>
					</div>
					<div class="col col-50">
						<div class="row">
							<div class="col">
								<h3 class="light-text  pretty-thai-text">
								{{emrequest.patient.firstname}} {{emrequest.patient.lastname}}
								</h3>
								<div class="row pretty-thai-text">
									<div class="col col-20 col-center">
										<span ng-if="emrequest.patient.gender == 'male'"><i class="icon ion-male white-text shadow-text big-text"></i> </span>
										<span ng-if="emrequest.patient.gender == 'female'"><i class="icon ion-female white-text shadow-text big-text"></i> </span>
									</div>
									<div class="col light-text">
										<small> อายุ {{emrequest.patient.age}} ปี</small><BR/>
										<small>{{emrequest.patient.disease}}</small>
									</div>
								</div>
								<span class="pretty-thai-text light-text" >รับเรื่องโดย {{emrequest.callCenterUser}}</span>
								<h4 class="pretty-thai-text yellow-text shadow-text">{{statusTH(emrequest.status)}}</h4>
								<span ng-if="emrequest.locationDetails != null" class="pretty-thai-text light-text" >สถานที่รับ {{emrequest.locationDetails}}</span>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="">
						
						<nav mfb-menu position="tr" effect="zoomin" label="ยกเลิก" class="pretty-thai-text"  active-icon="ion-close" resting-icon="ion-android-menu" toggling-method="click">
							<button ng-click="phonecall('{{emrequest.patient.phone}}')" mfb-button icon="ion-android-call" class="pretty-thai-text" label="ติดต่อคนไข้"></button>
							<button ng-click="editLocationDetails()" mfb-button icon="ion-android-locate" class="pretty-thai-text" label="ระบุตำแหน่ง"></button>
							<button ng-click="" mfb-button icon="ion-android-people" class="pretty-thai-text" label="ติดต่อญาติ"></button>

							<button ng-click="getEmrequestLog({{emrequest.id}})" mfb-button icon="ion-android-list" class="pretty-thai-text" label="รายงานสถานะ"></button>

						</nav>
					<!--  <a ng-click="getEmrequestLog({{emrequest.id}})" class="button  button-block pretty-thai-text  button-yellow1 ink">รายงานสถานะ</a>
					  <a ng-click="phonecall('{{emrequest.patient.phone}}')"  class="button button-block  pretty-thai-text button-yellow2 ink">บันทึกตำแหน่ง</a>
					  <a ng-click="phonecall('{{emrequest.patient.phone}}')"  class="button button-block  pretty-thai-text button-yellow3 ink">โทรเข้า</a>
					  <a class="button  pretty-thai-text button-yellow4 ink">ติดต่อญาติ</a>
					  -->
					</div>
					</div>
					
				</div>

				<div ng-if="emcenter != null || emcenter!= undefined" class="row  padding-left" >
					<div class="col col-top col-20">
						<img src="https://storage.googleapis.com/image-mobile/er-pointer.png">
					</div>
					<div class="col padding-left">
						<h4 class="pretty-thai-text dark-text">ศูนย์บริการฉุกเฉิน</h4>
						<h5 class="pretty-thai-text white-text shadow-text" style="font-size:1.3em">{{emcenter.name}}</h5>
						<small ng-if="emrequest.emDriverId != 0" class="pretty-thai-text dark-text ">คนขับ: {{emrequest.driver.firstname}} {{emrequest.driver.lastname}}</small><BR/>
						<button ng-if="emrequest.emDriverId != 0" ng-click="phonecall('{{emrequest.driver.phone}}')" class="button button-small button-yellow1 pretty-thai-text ink">ติดต่อคนขับ</button>
						<button ng-click="phonecall('{{emcenterNearby.phone}}')" class="button button-small  button-yellow2 pretty-thai-text ink">ติดต่อศูนย์</button>
					</div>
					
				</div>
				<div ng-if="emrequest.status == 'responded' || emrequest.status == 'calling'" class="row " style="height:430px;">
					<ion-list class="padding" can-swipe="true" style="width: 100%">
						<ion-item ng-repeat="emcenterNearby in emcentersNearby" class="item item-icon-right pretty-thai-text no-margin">
							<div class="row no-margin no-padding">
								<div class="col no-margin col-25"><img src="https://storage.googleapis.com/image-mobile/place{{$index+1}}-pointer.png" width="40"></div>
								<div class="col no-margin dark-text col-center">
									<!--<div ng-repeat="i in [1, 2, 3, 4, 5]" style="display:inline;">
										<i class="ion-android-star energized"></i>
									</div>-->
										<h2 class="pretty-thai-text white-text shadow-text" style="font-size:1.3em">{{emcenterNearby.name}}</h2>
										<small class="pretty-thai-text">{{(emcenterNearby.distance / 1000).toFixed(2)}} กิโลเมตร</small>

								</div>
								<i class="icon ion-chevron-right light"></i>
							</div>
							<ion-option-button ng-click="phonecall({{emcenterNearby.phone}})" class="button-yellow1 option-button">
								<i class="icon ion-android-call"></i>
							</ion-option-button>
							<ion-option-button ng-click="assignrequest({{emcenterNearby.id}},'{{emcenterNearby.name}}')" class="button-yellow3 option-button">
								<i class="icon  ion-android-share"></i>
							</ion-option-button>
						</ion-item>
						
					</ion-list>
				</div>
			</div>
			
		</div>
			
	</ion-content>
</ion-view>