<ion-side-menus enable-menu-with-back-views="true">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-shade1" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}"
		    align-title="left">
			
			<ion-nav-back-button class="no-text">
            </ion-nav-back-button>

		<!--	<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="left">
                </button>
			</ion-nav-buttons>
		-->
		</ion-nav-bar>
		<ion-nav-view name="fabContent"></ion-nav-view>
		<ion-nav-view name="menuContent" class="expanded"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-content class="side-menu no-header">
			<div class="padding pretty-slim-text light-text" ng-hide="showMenu">
				<img src="img/call-center.png">
				<h3 class="yellow-text">Administrator Panel</h3>
				<p>Please Login with username/password that you received from system administration or contact at<BR/><BR/>admin@lifeguard.com</p>
			</div>
			<ion-list class="no-margin" ng-hide="!showMenu">
			<!--	<ion-item>
					<div class=" menu-icon "></div>
				</ion-item>
			-->
				
				<ion-item class="item-icon-right light-text pretty-thai-text shadow-text" style="background: rgba(255, 255, 255, 0.4);">
					<i class="icon ion-cube "></i>การจัดการข้อมูลระบบ
				</ion-item>
				<ion-item menu-close ui-sref="app.dashboard" class="item-icon-left padding-top padding-bottom pretty-thai-text yellow1-background border-bottom">
					<i class="icon material-icons light-text shadow-text" style="font-weight: 100">&#xE871;</i>ภาพรวม
				</ion-item>
				<ion-item menu-close ui-sref="app.patientList" class="item-icon-left padding-top padding-bottom pretty-thai-text yellow2-background">
					<i class="icon material-icons light-text shadow-text" style="font-weight: 100">&#xE914;</i>คนไข้
				</ion-item>
				<ion-item menu-close ui-sref="app.caregiverList" class="item-icon-left padding-top padding-bottom pretty-thai-text yellow3-background">
					<i class="icon material-icons light-text shadow-text" style="font-weight: 100">&#xE84E;</i>ผู้ดูแล
				</ion-item>
				<ion-item menu-close ui-sref="app.emcenterList" class="item-icon-left padding-top padding-bottom pretty-thai-text yellow4-background">
					<i class="icon material-icons light-text shadow-text" style="font-weight: 100">&#xE548;</i>ศูนย์บริการฉุกเฉิน
				</ion-item>
				<ion-item menu-close ui-sref="app.emrequestList" class="item-icon-left padding-top padding-bottom pretty-thai-text " style="background: rgba(255, 255, 255, 0.7);">
					<i class="icon material-icons light-text shadow-text" style="font-weight: 100">&#xE0D1;</i>ประวัติเรียกบริการฉุกเฉิน
				</ion-item>
				<ion-item menu-close ui-sref="app.distanceAlertList" class="item-icon-left padding-top padding-bottom pretty-thai-text " style="background: rgba(255, 255, 255, 0.6);">
					<i class="icon material-icons light-text shadow-text" style="font-weight: 100">&#xE8B4;</i>แจ้งเตือนออกนอกบริเวณ
				</ion-item>
				<ion-item ng-click="loadEmrequestData()" class="item-icon-right light-text pretty-thai-text shadow-text" style="background: rgba(255, 255, 255, 0.4);">
					<i class="icon ion-android-refresh" ></i>สายเรียกฉุกเฉิน
				</ion-item>
				<div ng-if="listload" class="padding center-text" style="background: rgba(255, 255, 255, 1)">
					<img src="img/listloader.gif">
				</div>
				<ion-item  ng-if="!listload" ng-click="getEmRequestDetail(emreq)" ng-repeat="emreq in emrequests" style="background: rgba(255, 255, 255, 0.9);padding-bottom:0.5em" class="item  no-margin item-icon-left pretty-thai-text">
					<i ng-if="emreq.patient.currentStatus == 'alert'" class="icon material-icons red-text " style="font-weight: 100">&#xE90F;</i>
					<i ng-if="emreq.patient.currentStatus == 'beware'" class="icon material-icons yellow-text " style="font-weight: 100">&#xE90F;</i>
					<i ng-if="emreq.patient.currentStatus == 'normal'" class="icon material-icons calm " style="font-weight: 100">&#xE90F;</i>

					<div class="row" style="padding-left: 5em;">
						
						<div  class="col col-center pretty-thai-text dark-text">
							{{emreq.patient.firstname}} {{emreq.patient.lastname}}
							<h4 class="pretty-thai-text dark-text">{{statusTH(emreq.status)}}</h4>
						</div>
						<div class="col col-center right-text" ng-if="emreq.id == emrequest.id">
							<i class="material-icons big-text dark-text">&#xE315;</i>
						</div>
					</div>
					
				</ion-item>
				<ion-item ui-sref="app.profile" class="item-icon-right padding-left padding-top padding-bottom light-text pretty-thai-text " >
					<i class="icon material-icons light-text" style="font-weight: 100">&#xE8A6;</i>แก้ไขข้อมูลผู้ใช้
				</ion-item>
				<ion-item ui-sref="app.logout" class="item-icon-right padding-left padding-top padding-bottom light-text pretty-thai-text " >
					<i class="icon material-icons light-text" style="font-weight: 100">&#xE879;</i> ออกจากระบบ
				</ion-item>
				
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>