<ion-view view-title="ข้อมูลศูนย์บริการฉุกเฉิน">
    <ion-content padding="true" class="has-header">
        <form name="emCenterForm" class="list" ng-submit="createEmCenter(emcenter)" novalidate>
            <div class="card">
                <div class="item item-text-wrap">
                    <div class="row">
                        <div class="col col-50" style="margin:0.5em;padding-right: 20px;">
                        <label class="item item-input item-floating-label" style="margin-bottom:1em;">
                            <p class="input-label pretty-thai-text" style="width:100%!important;">ชื่อสถานบริการฉุกเฉิน</p>
                            <input class="pretty-thai-text" type="text" placeholder="ชื่อสถานบริการฉุกเฉิน" ng-model="emcenter.name" ng-required="true">
							<BR/><small ng-if="emcenter.id != undefined && emcenter.id!=0" class="pretty-thai-text orange-text">Security Code: {{emcenter.securityCode}}</small>	
							
						</label>
						
                        <label class="item item-input item-floating-label"  style="margin-bottom:1em;">
                            <p class="input-label pretty-thai-text">รายละเอียด</p>
                            <input class="pretty-thai-text" type="text" placeholder="รายละเอียด" ng-model="emcenter.description" ng-required="true">
                        </label>
                        <label class="item item-input item-floating-label"  style="margin-bottom:1em;">
                            <p class="input-label pretty-thai-text">โทรศัพท์</p>
                            <!-- ng-pattern="/^[0]{1}([0-9]{9}|[0-9]{8})$/" -->
                            <input class="pretty-thai-text" type="tel" placeholder="โทรศัพท์" ng-model="emcenter.phone"  ng-required="true" >
                        </label>
						<p class="pretty-thai-text">โปรดระบุตำแหน่งสถานบริการฉุกเฉิน*</p>
                        <div id="em-center-map"  style="padding-left:0;width:105%; height:330px"></div>
                        <input type="hidden" ng-model="emcenter.locLat">
                        <input type="hidden" ng-model="emcenter.locLong">
                        </div>
                        <div class="col col-50">             
							<div ng-if="callcenters != null && callcenters != undefined && callcenters.length  > 0 " class="col padding-top">
								<h3 class="dark-text pretty-thai-text">รายชื่อผู้ประสานงาน</h3>
								<div class="list">
								<a ng-click="phonecall(user.phone)" class="item item-icon-right" ng-repeat="user in callcenters">
									<i class="icon ion-android-call"></i>
									<h2 class="pretty-thai-text">{{user.firstname}} {{user.lastname}}</h2>
									<p><small class="pretty-thai-text">ชื่อผู้ใช้งาน: {{user.username}}</small></p>
									<p><small class="pretty-thai-text">โทรศัพท์: {{user.phone}}</small></p>
								</a>
								</div>
								<p ng-if="caregiver.patients.length ==0" class="pretty-thai-text">ยังไม่มีคนไข้ในความดูแล</p>
							</div>
							<div ng-if="drivers != null && drivers != undefined && drivers.length  > 0 " class="col padding-top">
								<h3 class="dark-text pretty-thai-text">รายชื่อคนขับรถ</h3>
								<div class="list">
								<a ng-click="phonecall(user.phone)" class="item item-icon-right" ng-repeat="user in drivers">
									<i class="icon ion-android-call"></i>
									<h2 class="pretty-thai-text">{{user.firstname}} {{user.lastname}}</h2>
									<p><small class="pretty-thai-text">ชื่อผู้ใช้งาน: {{user.username}}</small></p>
									<p><small class="pretty-thai-text">โทรศัพท์: {{user.phone}}</small></p>
								</a>
								  
								</div>
								<p ng-if="caregiver.patients.length ==0" class="pretty-thai-text">ยังไม่มีคนไข้ในความดูแล</p>
							</div>
                        </div>	
                    </div>
                </div>
            </div>
            <div style="padding:0.8em;">
                <button class="button button button-calm pretty-thai-text" ng-disabled="emCenterForm.$invalid" type="submit">
                บันทึก
            </button>
                <button style="margin-right:0.5em;" class="button button button-energized pretty-thai-text" ui-sref="app.emcenterList">
                ยกเลิก
            </button>

            </div>
        </form>
		
    </ion-content>
</ion-view>