<ion-view view-title="คนไข้">
  <ion-nav-buttons side="left">
	  <nav mfb-menu position="tr" effect="zoomin" label="ยกเลิก" active-icon="ion-close" resting-icon="ion-plus-round" toggling-method="click">
		<button ui-sref="app.patientForm" mfb-button icon="ion-person-add" class="pretty-thai-text" label="เพื่มข้อมูล"></button>
		<button ng-click="showSearchPopup()" mfb-button icon="ion-search" class="pretty-thai-text" label="ค้นหา"></button>
		<button ng-click="loadData(0,7)" mfb-button icon="ion-refresh" class="pretty-thai-text" label="โหลดใหม่"></button>
	  </nav>
  </ion-nav-buttons>
  <ion-content class="custom" ng-class="{expanded:isExpanded}"  padding="true" class="has-header" style="background: rgba(0, 0, 0, 0.1);">
    <ion-list class="" can-swipe="true" ng-repeat="patient in patients">
      <ion-item class="item-icon-right pretty-thai-text no-margin item-content" style="margin-bottom:1em;border-radius:5px;box-shadow: 0 2px 5px 0 rgba(0,0,0,.26)">
          <div class="row">
            <div class="col col-10">
				<div class="image-cropper-small">
				<img  ng-if="patient.photoFilePath != null" src='{{URL_PREFIX + patient.photoFileURI}}'>
				<img  ng-if="patient.photoFilePath == null" src="img/person.png">
				</div>
			</div>
            <div class="col padding dark-text col-center">
              <h2 class="pretty-thai-text"> {{patient.firstname}} {{patient.lastname}} </h2>
              <p class="pretty-thai-text orange-text">อายุ<span> {{patient.age}}</span> ปี</p>
            </div>
            <i class="icon ion-chevron-right stable"></i>
          </div>
		  <ion-option-button ng-click="sendEmail(patient)" class="button-dark option-button">
            <i class="icon ion-email"></i>
          </ion-option-button>
		  <ion-option-button ng-click="phonecall({{patient.phone}})" class="button-energized option-button">
             <i class="icon ion-android-call"></i>
          </ion-option-button>
		  <ion-option-button ng-click="getPatientDetail(patient)" class="button-orange option-button">
            <i class="icon ion-edit"></i>
          </ion-option-button>
          <ion-option-button ng-click="deletePatient('{{patient.id}}')" class="button-assertive option-button">
            <i class="icon ion-trash-a"></i>
          </ion-option-button>
      </ion-item>
    </ion-list>
<!--	 <ion-refresher on-refresh="loadMoreData()" pulling-text="Pull to refresh" distance="-10%">
        </ion-refresher>
		-->
	<ion-infinite-scroll 
                     on-infinite="loadMoreData()"
					  ng-if="!moredata"
                     immediate-check="true"
					  ></ion-infinite-scroll>
					 
  </ion-content>
</ion-view>